// Add Option Error
.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

// Add Option
.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin-right: $s-size;
  color: white;
  padding: $s-size;
}

// if we set flex-grow: 1; it means we want input to eat up the extra space
