// BIG BUTTON
.big-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
    font-size: $xl-size;
  }
}

// big-button

.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}


// BEM the M is for modifier
// above we create a modifier for the button block. this allows us to tweak the Add Option button
// the syntax above for buttton--link is the BEM naming convention
// for modifiers we use two hyphens -- then name the modified version of the button
// in the Options.js we add: className="button button--link" to add the modifier to this button
// modified the button in Option.js

// inside of SCSS we actually have access to a bunch of functions, such as darken()
// can use default :disabled to style when button is disabled
