// rem
html {
  font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

// learned how to break up our styles into multiple files
// these get imported into our main styles file
// this is our base partial that defines our global font family
